<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
	<?include VersionNumberInclude.wxi?>
	<!-- we use the build version as the third number in the version string, since
	     msi ignores the fourth number when detecting updates/upgrades. That way,
		 we always have a working upgrade even if we don't change the version
		 string manually but only due to increases svn revisions -->
	<Product
	UpgradeCode="{FE804E0B-B1F7-4cad-8C2A-DCE004D46C71}"
	Name='Gurtle $(var.MajorVersion).$(var.MinorVersion).$(var.MicroVersion).$(var.BuildVersion)'
	Id='*'
	Language='1033'
	Codepage='1252'
	Version='$(var.MajorVersion).$(var.MinorVersion).$(var.BuildVersion)'
	Manufacturer='Gurtle'>

		<Package Id='*' Keywords='Installer'
		  Description="IBugTraqProvider for Google Code Hosting"
		  Comments='http://code.google.com/p/gurtle/' Manufacturer='Gurtle'
		  InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

		<Upgrade Id="{FE804E0B-B1F7-4cad-8C2A-DCE004D46C71}" >
			<!-- flag is set if the install will trigger an upgrade of an existing install -->
			<UpgradeVersion Property="PREVIOUSVERSIONSINSTALLED" Maximum="$(var.MajorVersion).$(var.MinorVersion).$(var.BuildVersion)" IncludeMaximum="no" />
		</Upgrade>

		<Media Id='1' Cabinet='Gurtle.cab' EmbedCab='yes' />
		<Property Id="ALLUSERS">1</Property>
		<Condition Message='This application only runs on Windows XP and later.'>VersionNT &gt;= 501</Condition>

		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='ProgramFilesFolder' Name='PFiles'>
				<Directory Id='INSTALLDIR' Name='Gurtle' >

					<Component Id='MainDll' Guid='39414E3C-C9FF-40eb-B59F-095D85082234'>
						<File Id='Gurtle.DLL' Name='Gurtle.dll' DiskId='1'
						  Source='../../bin/release/Gurtle.dll' Vital='yes'>
						</File>
						<RegistryKey Root="HKLM" Key="Software\Classes\CLSID\Gurtle.Plugin" Action="createAndRemoveOnUninstall" />
						<RegistryValue Root="HKLM" Key="Software\Classes\CLSID\Gurtle.Plugin" Value="Gurtle $(var.MajorVersion).$(var.MinorVersion) (Google Code)" Type="string" />
						<RegistryValue Root="HKLM" Key="Software\Classes\CLSID\Gurtle.Plugin\CLSID" Value="{91974081-2DC7-4FB1-B3BE-0DE1C8D6CE4E}" Type="string" />


						<RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{91974081-2DC7-4FB1-B3BE-0DE1C8D6CE4E}" Value="Gurtle $(var.MajorVersion).$(var.MinorVersion) (Google Code)" Type="string" />
						<RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{91974081-2DC7-4FB1-B3BE-0DE1C8D6CE4E}" Action="createAndRemoveOnUninstall" />
						<RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{91974081-2DC7-4FB1-B3BE-0DE1C8D6CE4E}\InProcServer32" Value="mscoree.dll" Type="string" />
						<RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{91974081-2DC7-4FB1-B3BE-0DE1C8D6CE4E}\InProcServer32" Name="ThreadingModel" Value="Both" Type="string" />
						<RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{91974081-2DC7-4FB1-B3BE-0DE1C8D6CE4E}\InProcServer32" Name="Class" Value="Gurtle.Plugin" Type="string" />
						<RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{91974081-2DC7-4FB1-B3BE-0DE1C8D6CE4E}\InProcServer32" Name="Assembly" Value="Gurtle, Version=$(var.MajorVersion).$(var.MinorVersion).$(var.MicroVersion).$(var.BuildVersion), Culture=neutral, PublicKeyToken=null" Type="string" />
						<RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{91974081-2DC7-4FB1-B3BE-0DE1C8D6CE4E}\InProcServer32" Name="RuntimeVersion" Value="v2.0.50727" Type="string" />
						<RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{91974081-2DC7-4FB1-B3BE-0DE1C8D6CE4E}\InProcServer32" Name="CodeBase" Value="[INSTALLDIR]Gurtle.dll" Type="string" />

						<RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{91974081-2DC7-4FB1-B3BE-0DE1C8D6CE4E}\InprocServer32\1.0.0.0" Action="createAndRemoveOnUninstall" />
						<RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{91974081-2DC7-4FB1-B3BE-0DE1C8D6CE4E}\InProcServer32\1.0.0.0" Name="Class" Value="Gurtle.Plugin" Type="string" />
						<RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{91974081-2DC7-4FB1-B3BE-0DE1C8D6CE4E}\InProcServer32\1.0.0.0" Name="Assembly" Value="Gurtle, Version=$(var.MajorVersion).$(var.MinorVersion).$(var.MicroVersion).$(var.BuildVersion), Culture=neutral, PublicKeyToken=null" Type="string" />
						<RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{91974081-2DC7-4FB1-B3BE-0DE1C8D6CE4E}\InProcServer32\1.0.0.0" Name="RuntimeVersion" Value="v2.0.50727" Type="string" />
						<RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{91974081-2DC7-4FB1-B3BE-0DE1C8D6CE4E}\InProcServer32\1.0.0.0" Name="CodeBase" Value="[INSTALLDIR]Gurtle.dll" Type="string" />

						<RegistryValue Root="HKLM" Key="Software\Classes\CLSID\{91974081-2DC7-4FB1-B3BE-0DE1C8D6CE4E}\ProgId" Value="Gurtle.Plugin" Type="string" />

						<RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{91974081-2DC7-4FB1-B3BE-0DE1C8D6CE4E}\Implemented Categories\{62C8FE65-4EBB-45E7-B440-6E39B2CDBF29}" Action="createAndRemoveOnUninstall" />
						<RegistryKey Root="HKLM" Key="Software\Classes\CLSID\{91974081-2DC7-4FB1-B3BE-0DE1C8D6CE4E}\Implemented Categories\{3494FA92-B139-4730-9591-01135D5E7831}" Action="createAndRemoveOnUninstall" />

					</Component>

				</Directory>
			</Directory>

		</Directory>

		<WixVariable Id="WixUILicenseRtf" Value="eula.rtf" />
		<WixVariable Id="WixUIBannerBmp" Value="Banner.jpg" />
		<WixVariable Id="WixUIDialogBmp" Value="Dialog.jpg" />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
		<UIRef Id="WixUI_InstallDir" />

		<Feature Id='Complete' Title='Gurtle' Description='The complete package.'
		  Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
			<Feature Id='MainDll' Title='Program' Description='The main executable.' Level='1'>
				<ComponentRef Id='MainDll' />
			</Feature>
		</Feature>

		<InstallExecuteSequence>
			<AppSearch Sequence="1"></AppSearch>
			<LaunchConditions After="AppSearch" />
			<RemoveExistingProducts After="InstallValidate"><![CDATA[PREVIOUSVERSIONSINSTALLED]]></RemoveExistingProducts>
		</InstallExecuteSequence>

	</Product>
</Wix>
